*, *::before, *::after{
    box-sizing: border-box;
}
*{ margin: 0; }
img{
    display:block;
    max-width: 100%;
}
.board{
    display: flex;
    gap: 4rem;
    font-size: 2rem;
}
table, th, td {
    border: 1px solid black;
}
.box{
    border: 1px solid black;
}
.dice i{
    font-size: 4rem;
}
main{
    width: 80%;
    max-width: 700px;
    margin: auto;
    text-align: center;
}
.players{
    display: inline-grid;
    gap: 1rem;
}
.shut{
    color: red;
    border: 1px solid red;
}
